<a href="https://colab.research.google.com/github/neto-riga/metodos_numericos_2/blob/main/12_diferenciacion_numerica_por_diferencias_divididas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## [Regresar al ínidce](https://github.com/neto-riga/metodos_numericos_2/blob/main/portafolio.md#índice)

# Diferenciación numérica por diferencias divididas
---

Obtener una estimación de la derivada para $x = 0.95$ de la siguiente función
$$
f(x)=(2x^2-1)^4\frac{cot(4x)^3}{2x}
$$
- Tabular la funcipon para $x=0.9,1,1.08,1.1,1.13$
- Emplear polinomios de 2° y 3° grado.
- Estimar el error por la regla del término siguiente.

### Primero definimos la función para poder tabular y obtener nuestra tabla de datos

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import sympy as sp

sns.set_theme(palette='colorblind')

In [ ]:
f = lambda x: (2 * x ** 2 - 1) ** 4 * 1 / (np.tan(4 * x) ** 3) * 1 / (2 * x)

x = np.array([0.9, 1, 1.08, 1.1, 1.13])
fx = f(x)

print("Nuestros datos serán")
pd.DataFrame({
    'x': x,
    'fx': fx,
})

Nuestros datos serán

      x        fx
0  0.90  0.683157
1  1.00  0.322141
2  1.08  0.103547
3  1.10  0.062257
4  1.13  0.019065

Aplicamos el método de diferencias divididas.

In [ ]:
def diferencias_divididas(x, y, lugar, n, soluciones):
  if lugar == (n+1):
    return 
  
  soluciones_lugar = []
  for i in range(n-(lugar)):
    soluciones_lugar.append((y[i+1] - y[i])/(x[i+lugar]-x[i]))
  
  for _ in range(lugar-1):
    soluciones_lugar.append(0)

  soluciones.append(soluciones_lugar)
  diferencias_divididas(x, soluciones_lugar, lugar+1, n, soluciones)
  sol = np.array(soluciones)
  return sol[:-1].T

Generamos la función para crear el polinomio.

In [ ]:
def poli(arr, X, Y, aprox, pos_y):
  res = 0
  mult = 1
  
  for i, a in enumerate(arr):
    mult *= aprox - X[i+pos_y]
    res += a * mult
    
  res += Y[pos_y]
  return res

Aplicamos diferencias divididas a nuestros datos.

In [ ]:
sol = []
sol = diferencias_divididas(x, fx, 1, 5, sol)
pd.DataFrame(sol)

          0          1          2           3
0 -3.610166   4.876343   9.016604  155.253237
1 -2.732424   6.679664  44.724848    0.000000
2 -2.064458  12.493894   0.000000    0.000000
3 -1.439763   0.000000   0.000000    0.000000

Obtenemos $P'_{2}(x)$

In [ ]:
sp.diff(sp.simplify(poli(sol.T[:,0][:2], x, fx, x_symbol, 0)), x_symbol)

9.75268649882458*x - 12.8752180371778

Obtenemos $P'_{3}(x)$

In [ ]:
sp.diff(sp.simplify(poli(sol.T[:,0][:3], x, fx, x_symbol, 0)), x_symbol)

27.0498108252695*x**2 - 43.9862710073775*x + 13.7417958148874

También $P'_{4}(x)$

In [ ]:
sp.diff(sp.simplify(poli(sol.T[:,0][:4], x, fx, x_symbol, 0)), x_symbol)

621.012946520936*x**3 - 1873.2498055288*x**2 + 1890.46905740534*x - 641.302660175396

Sustituimos $x=0.95$ en las $P'_{n}(x)$ y calculamos el error

In [ ]:
estima = []
error = []
for i in range(3):
  estima.append(sp.diff(sp.simplify(poli(sol.T[:,0][:(i+2)], x, fx, x_symbol, 0)), x_symbol).subs(x_symbol,0.95))

for i in range(len(estima)-1):
  error.append(estima[i+1]-estima[i])
error.append(np.nan)

Obteniendo

In [ ]:
tabla = {'Pn(x)': estima,
          'ETR': error
}
pd.DataFrame(tabla)

               Pn(x)                  ETR
0  -3.61016586329442  -0.0225415090210550
1  -3.63270737231548    0.108677265641262
2  -3.52403010667422                  NaN

## [Regresar al ínidce](https://github.com/neto-riga/metodos_numericos_2/blob/main/portafolio.md#índice)