<a href="https://colab.research.google.com/github/neto-riga/metodos_numericos_2/blob/main/14_integracion_numerica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## [Regresar al ínidce](https://github.com/neto-riga/metodos_numericos_2/blob/main/portafolio.md#índice)

# Ejercicio 14. Integración numérica.
---

Sea la siguiente función 

$$
f(x) = 4xln(x) + \frac{\cos(x-3)}{\sqrt{(1+x^{2})}}
$$

1. Estimar la integral en el intervalo $[0.2,2.6]$
2. Realizar la estimación con 12 y 24 subintervalos.
3. Aplica las tres reglas de integración.
4. Elabora tus conclusiones.

Importamos la bibliotecas necesarias.

In [ ]:
import sympy as sp
import numpy as np
import pandas as pd

Función para llenar listas de $x$ y $f(x)$.

In [ ]:
def Listas(val,h,cant):
  f = lambda x: (4*x*np.log(x)) + ((np.cos(x-3))/(np.sqrt(1 + x**2)))
  x=[val]
  fx = [f(x[0])]
  for i in range(cant):
    x.append(x[i]+h)
    fx.append(f(x[i+1]))
  return x,fx

Integración por regla del trapecio.

In [ ]:
def Regla_Trapecio(x,fx):
  h = x[1]-x[0]
  inte = (h/2)*(fx[0] + fx[-1] + (2*np.sum(fx[1:-1])))
  return inte

Integración  por regla Simpson $\frac{1}{3}$

In [ ]:
def Simpson_1(x,fx):
  h = x[1] - x[0]
  sum=0
  for i in range(len(x)-2):
    if i%2 == 0:
      sum+= fx[i+1]*4
    else: sum+= fx[i+1]*2
  inte = (h/3)*(fx[0] + fx[-1] + sum)
  return inte

Integración por regla Simpson $\frac{3}{8}$

In [ ]:
def Simpson_3(x,fx):
  h = x[1]-x[0]
  sum=0
  for i in range(len(x)-2):
    if (i+1)%3 == 0:
      sum+=fx[i+1]*2
    else: sum+=fx[i+1]*3
  inte = (3*h/8)*(fx[0] + fx[-1] + sum)
  return inte

Tabulamos los valores de $x$ y $f(x)$ con 12 subintervalos.

In [ ]:
x,fx = Listas (0.2,0.2,12)
tabla = {'x': x,'f(x)': fx}
df = pd.DataFrame(tabla)
df

      x       f(x)
0   0.2  -2.211475
1   0.4  -2.261666
2   0.6  -1.858291
3   0.8  -1.173602
4   1.0  -0.294260
5   1.2   0.729692
6   1.4   1.867273
7   1.6   3.098106
8   1.8   4.408040
9   2.0   5.786808
10  2.2   7.226724
11  2.4   8.721937
12  2.6  10.267961

Aplicamos la tres reglas de integración numérica, obteniendo:

In [ ]:
h1 = [Regla_Trapecio(x,fx),Simpson_1(x,fx),Simpson_3(x,fx)]
int_ex = 6.023397289549
err = [h1[0]-int_ex,h1[1]-int_ex,h1[2]-int_ex]
tabla2 = {'12 subintervalos': h1,'Error': err}
df2 = pd.DataFrame(tabla2,index=['Trapecio','Simpson 1/3','Simpson 3/8'])
df2

             12 subintervalos     Error
Trapecio             6.055801  0.032403
Simpson 1/3          6.024037  0.000640
Simpson 3/8          6.024621  0.001224

Tabulamos $x$ y $f(x)$ para 24 subintervalos.

In [ ]:
x2,fx2 = Listas (0.2,0.1,24)
tabla3 = {'x': x2,'f(x)': fx2}
df3 = pd.DataFrame(tabla3)
df3

      x       f(x)
0   0.2  -2.211475
1   0.3  -2.310711
2   0.4  -2.261666
3   0.5  -2.102859
4   0.6  -1.858291
5   0.7  -1.544524
6   0.8  -1.173602
7   0.9  -0.754547
8   1.0  -0.294260
9   1.1   0.201897
10  1.2   0.729692
11  1.3   1.285736
12  1.4   1.867273
13  1.5   2.472029
14  1.6   3.098106
15  1.7   3.743899
16  1.8   4.408040
17  1.9   5.089350
18  2.0   5.786808
19  2.1   6.499525
20  2.2   7.226724
21  2.3   7.967726
22  2.4   8.721937
23  2.5   9.488833
24  2.6  10.267961

Aplicamos las reglas de integración numérica obteniendo:

In [ ]:
h2 = [Regla_Trapecio(x2,fx2),Simpson_1(x2,fx2),Simpson_3(x2,fx2)]
err2 = [h2[0]-int_ex,h2[1]-int_ex,h2[2]-int_ex]
tabla4 = {'24 subintervalos': h2, 'Error': err2}
df4 = pd.DataFrame(tabla4,index=['Trapecio','Simpson 1/3','Simpson 3/8'])
df4

             24 subintervalos     Error
Trapecio             6.031536  0.008138
Simpson 1/3          6.023447  0.000050
Simpson 3/8          6.023501  0.000103

Comparamos ambos resultados:

In [ ]:
tabla5 = {'12 subintervalos': h1,'Error1': err,'24 subintervalos': h2, 'Error2': err2}
df5 = pd.DataFrame(tabla5,index=['Trapecio','Simpson 1/3','Simpson 3/8'])
df5

             12 subintervalos    Error1  24 subintervalos    Error2
Trapecio             6.055801  0.032403          6.031536  0.008138
Simpson 1/3          6.024037  0.000640          6.023447  0.000050
Simpson 3/8          6.024621  0.001224          6.023501  0.000103

##Conclusiones

Podemos observar en las tablas ya presentadas que tanto para 12 subintervalos como para 24, la regla de integración numérica con mejores resultados resulta ser Simpson 1/3, en segundo lugar Simpson 3/8, mientras que la regla menos eficiente es la del trapecio.
De igual manera podemos percatarnos de que al trabajar con 24 subintervamos los errores disminuyen de forma satisfactoria.

## [Regresar al ínidce](https://github.com/neto-riga/metodos_numericos_2/blob/main/portafolio.md#índice)